@import url("lib/reset.css");





body {

	font-size: 16px;

    font-family: "Courier New";

}


.overlay {
    
    padding: 0;
    margin: 0;
    
    position: absolute;
    left: 0;
    
    /*background: rgba(0,0,0, .5);*/
    background-size: cover;
}


p {

	padding: 0.5em;

}


h1 {

	padding: 1em;


	text-align: center;


	font-size: 32px;

}

h2 {

	padding: 1em;

	font-size: 20px;

}



.menu {

	padding: 1em;
	
}


.setting {

}


.slider {

	width: 100%;

}





#settings {

	width: 222px;


	padding: 2em;

    margin: 1em;



	text-align: center;


	background-color: #FFF;


	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}